* {
  --background-color: #f6f6f6;
  --white: #fff;
  --black: #292929;
  --grey: #8c8c8c;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.05em;
}
main {
  padding-top: 50px;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--background-color);
}
section {
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid var(--black);
  animation: show 0.4s;
}
.teaser {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  animation: show 0.6s;
}
b {
  font-weight: inherit;
  color: var(--grey);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
